$color-black: #000;
$color-navy: #251e30;
$color-red-dark: #960000;
$color-red: #ff2121;
$color-semi-black: #130e1b;
$color-semi-gray: #262626;
$color-dark-gray: #343434;
$color-gray: #8e8e8e;
$color-white: #ffffff;
$color-bm-red: #E8242A;
