@import "../../scss/variables/index";

.homeContainer {
  padding: 64px 0;
}

.homeImageContainer {
  max-width: 300px;
}

.homeImage {
  display: block;
  margin-bottom: 16px;
}

.navWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: $color-gray;
  height: 48px;
  padding: 4px 12px;
  overflow: hidden;
}

.navIcon {
  width: 80px;
  // height: 100%;
}

.navIconText {
  font-size: $font-size-l;
}

.navList {
  display: none;
}

.navItem {
  margin: 0 12px;
}

.navForm {
  display: block;
  width: 148px;

  input {
    width: 100%;
    border-radius: 10px;
  }
}

.navBurger {
  width: 80px;
  display: flex;
  justify-content: end;
}

@media screen and (min-width: 600px) {
  .navIcon {
  }

  .navIconText {
    display: none;
    font-size: $font-size-l;
  }

  .navList {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
  }
}